/* CSS Document */

/* ===================================================================
   TAG STYLES FOR ALL PAGES
 * =================================================================== */
body {
	margin: 0;
	padding: 0;
	border: 0;
	/* background-color: #FFFFFF; */
	/* background: #535353 url(images/bg.jpg) repeat; */
	/* background: #626657 url(../images/background.jpg) repeat-x left top; */
	background: #3b3b3b url(../images/background.jpg) repeat-x left top;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

a:link, a:visited, a:active {
	font-weight: normal;
	color: #CC6600;
	text-decoration: underline;
}

a:hover {
	color: #FF9900;
}

td {
	text-align: left;
	vertical-align: top;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

embed {
	display: block;
}

fieldset {
	font-size: 9pt;
	font-weight: bold;
	color: #202020;
	background-color: #DFDFA9;
}

legend {
	font-size: 12pt;
	color: #660000;
}
/* ===================================================================
   END TAG STYLES FOR ALL PAGES
 * =================================================================== */


/* ===================================================================
   CUSTOM STYLES FOR ALL PAGES
 * =================================================================== */
.ContentPadding {
	padding: 0 8px 8px 8px;
}

.ContentPaddingAll {
	padding: 8px 8px 8px 8px;
}

.PageHeading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	color: #5f2404;
}

.HelpText {
	font-family: Arial, verdana, sans-serif;
	font-size: 9pt;
	margin-top: 10px;
}

a.ActionLink:link, a.ActionLink:visited, a.ActionLink:active {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

a.ActionLink:hover {
	text-decoration: underline;
}

.CurrencyCell {
	font-size: 12px;
	/* font-family: "Courier New", Courier, monospace; */
	font-family: Arial, sans-serif;
	text-align: right;
	white-space: nowrap;
}

.OpeningLine {
	color: #474747;
	font: 24px Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	letter-spacing: .06em;
}

.OpeningWords {
	color: #474747;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .05em;
}
/* ===================================================================
   END CUSTOM STYLES FOR ALL PAGES
 * =================================================================== */
 
 
/* ===================================================================
   FORMS FOR ALL PAGES
 * =================================================================== */
.FieldHelp {
	font-weight: normal;
	font-family: Arial, verdana, sans-serif;
	font-size: 8pt;
}

td.FieldLabel {
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
}

td.FieldLabelTop {
	text-align: left;
	font-size: 9pt;
	font-weight: bold;
}

span.FieldLabel {
	font-size: 9pt;
	font-weight: bold;
}

.FormInputButton {
	color: #333333;
	font-family: arial, verdana, sans-serif;
	font-weight: bold;
	font-size: 14pt;
}

.FormInput {
	background-color: #FFFFFF;
	color: #000000;
	font-family: arial, verdana, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	border: 1px solid #808080;
	padding-left: 4px;
}

.FormItem {
	margin: 0 0 12px 0;
}


.InputText, .InputTextArea, .InputSelect, .InputCheckbox, .InputRadio, .InputDate {
	color: #303030;
}

.InputCaptcha {
	color: #CC3300;
	font-weight: bold;
	font-size: 14pt;
	letter-spacing: .06em;
}

.CaptchaInputCell {
	vertical-align: middle;
}

.CaptchaImageCell {
	vertical-align: middle;
	padding-left: 20px;
}

/*
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
*/

/* ===================================================================
   END FORMS FOR ALL PAGES
 * =================================================================== */
